absl-py==2.3.1
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
blinker==1.9.0
cachetools==5.5.2
carla==0.9.15
carla-gym==1.0.0
certifi==2025.8.3
charset-normalizer==3.4.3
chex==0.1.90
click==8.1.8
cloudpickle==1.6.0
colorama==0.4.6
comm==0.2.3
ConfigArgParse==1.7.1
contourpy==1.3.0
crafter @ file:///C:/Users/930818/Workspace/msc_proj/CARLA_0.9.15/crafter
cycler==0.12.1
dash==3.2.0
decorator==5.2.1
dm-tree==0.1.8
etils==1.5.2
exceptiongroup==1.3.0
executing==2.2.0
Farama-Notifications==0.0.4
fastjsonschema==2.21.1
filelock==3.13.1
Flask==3.1.1
flatbuffers==25.2.10
fonttools==4.59.0
fsspec==2024.6.1
future==1.0.0
gast==0.4.0
google-auth==2.40.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
GPUtil==1.4.0
grpcio==1.74.0
gym-notices==0.1.0
gymnasium==1.1.1
h5py==3.14.0
idna==3.10
imageio==2.37.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipython==8.18.1
ipywidgets==8.1.7
itsdangerous==2.2.0
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter_core==5.8.1
jupyterlab_widgets==3.0.15
keras==3.10.0
kiwisolver==1.4.7
libclang==18.1.1
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.3
mpmath==1.3.0
namex==0.1.0
narwhals==2.1.1
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==2.5
numpy==1.23.5
oauthlib==3.3.1
open3d==0.19.0
opencv-python==4.12.0.88
opensimplex==0.4.5.1
opt_einsum==3.4.0
optax==0.2.4
optree==0.17.0
packaging==25.0
parso==0.8.4
pettingzoo==1.25.0
pillow==11.3.0
platformdirs==4.3.8
plotly==6.2.0
prompt_toolkit==3.0.51
protobuf==4.25.8
psutil==7.0.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pygame==2.6.1
Pygments==2.19.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pywin32==311
referencing==0.36.2
requests==2.32.4
requests-oauthlib==2.0.0
retrying==1.4.2
rich==14.1.0
rpds-py==0.27.0
rsa==4.9.1
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
scipy==1.13.1
shapely==2.0.1
six==1.17.0
stack-data==0.6.3
sympy==1.13.3
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-probability==0.25.0
tensorflow_cpu==2.19.0
termcolor==3.1.0
tf_keras==2.19.0
toolz==1.0.0
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
traitlets==5.14.3
typing_extensions==4.14.1
urllib3==2.5.0
wcwidth==0.2.13
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wrapt==1.14.2
zipp==3.23.0
